#generators {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.generator {
    display: flex;
    flex-direction: column;
    width:600px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.generator .upgrades {
    width: 100%;
}

/* Ugrade */
.upgrade {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 8px;
    padding-right: 8px;
}
.upgrade .cost {
    text-align: center;
    font-size: 14px;
    margin:auto;
}
.upgrade button {
    margin-top:8px;
    background-color: #222;
    color: #ffffff;
    font-size: 16px;
    border: 2px solid #a87e7c;
    transition: border 500ms, background-color 500ms;
}
.upgrade button:hover {
    background-color: #a87e7c;
    border: 2px solid #222;
    color: #222;
}
.upgrade button .tooltiptext {
    font-size: 12px;
    padding: 10px;
}

/* Progress bar */
.progress th {
    border: 2px solid white;
    margin: 4px;
    margin-top:8px;
    padding:4px;
}

.pbar {
    height: 20px;
    background: repeating-linear-gradient(-45deg,#fff,#fff 20px,#222 20px,#222 40px);
    background-size: 200% 200%;
    animation: loader 8s linear infinite;
    border:1px solid white;
}
