body {
    background-color: #222;
    color: white;
    font-family: Roboto;
    background-image:url('https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.fire {
    display: block;
    border-radius: 50%;
    background-color: red;
    animation: fire-spread 200ms;
    width: 0;
    height: 0;
    filter: blur(2px);
    opacity: 1;
}

@keyframes fire-spread {
    0% {
        background-color: white;
        width: 16px;
        height: 16px;
    }
    25% {
        background-color: yellow;
        width: 24px;
        height: 24px;
    }
    85% {
        background-color: red;
        width: 32px;
        height: 32px;
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
}

.container {
    transform: translateY(25vh) scale(160%);
}

#particle-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#menu-game-modes {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.game-mode-select {
    margin-top: 4px;
    display: block;
    position: relative;
    width: 1224px;
    height: 800px;
    border-top: 8px solid rgba(255, 255, 255, 0.3);
    border-left: 8px solid rgba(255, 255, 255, 0.3);
    border-right: 8px solid rgba(0, 0, 0, 0.3);
    border-bottom: 8px solid rgba(0, 0, 0, 0.3);
    display: none;
}

.game-mode-select .back {
    display: block;
    float: left;
    font-size: 40px;
    cursor: pointer;
}

.game-mode {
    margin: 4px;
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    border-top: 8px solid rgba(255, 255, 255, 0.3);
    border-left: 8px solid rgba(255, 255, 255, 0.3);
    border-right: 8px solid rgba(0, 0, 0, 0.3);
    border-bottom: 8px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.game-mode.a, .game-mode-select.a {
    background-color: rgb(122, 54, 131);
}
.game-mode.b, .game-mode-select.b {
    background-color: rgb(49, 89, 148);
}
.game-mode.c, .game-mode-select.c {
    background-color: rgb(54, 131, 67);
}
.game-mode.d, .game-mode-select.d {
    background-color: rgb(148, 117, 49);
}

.game-mode-icon {
    transform: rotate(-10deg);
}

.game-mode p {
    padding: 10px;
}

.game-mode::after {
    content:"";
    display: block;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0; top: 0;
    background-color:rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 500ms;
}
.game-mode:hover::after {
    opacity: 1;
}

#main-area {
    display: flex;
    flex-direction: column;
}

#score-box {
    border: 2px solid white;
    background-color: black;
    margin: 0;
    font-weight: 200;
    height: 25px;
    border-bottom-left-radius: 5px;
    border-top:none;
    font-family: monospace;
}

#line-progress {
    position: relative;
    display: block;
    width: 16px;
    height: 427px;
    border: 2px solid white;
    background-color: black;
    border-left:none;
    border-bottom-right-radius: 5px;
}

#line-progress .progressbar {
    background-color: #0D5EB4;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height: 0%;
    transition: height 1000ms;
}

#score-box h2 {
    margin: 0;
}

#score-box .zeroes {
    color: #555;
    transition: color 500ms;
}

#stats {
    background: black;
    margin: 0;
    padding: 4px;
    padding-bottom: 12px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

.level {
    position: absolute;
    left: 50%;
    top: 40%;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    color: yellow;
    text-shadow: 0px 0px 2px white;
    opacity: 1;
    animation: bonk linear 500ms;
    font-size: 300%;
}
@keyframes bonk {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-60px);
        opacity:0;
    }
}

#all-clear {
    position: absolute;
    left: 50%;
    top: 40%;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    color: yellow;
    text-shadow: 0px 0px 2px white;
    animation: rotate linear 2s;
    opacity: 0;
}

@keyframes rotate {
    0% {
        transform: scale(200%) rotate(360deg);
        opacity: 1;
    }
    15% {
        transform: scale(100%) rotate(0deg);
    }
    100% {
        transform: scale(110%) rotate(0deg);
        opacity: 0;
    }
}

#game {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: -200px;
}

#game #main, #game canvas {
    transition: border-color 500ms;
}
#game h2, #game #score-box {
    transition: background-color 500ms;
}

#game.warning #main, #game.warning canvas, #game.warning #score-box {
    border-color: red;
}
#game.warning #score-box .zeroes {
    color: black;
}
#game.warning h2 {
    background-color: red;
}

#main, #hold, #next {
    border: 2px solid white;
    background-color: black;
}
#hold {
    border-right: none;
    border-top: none;
}
#next {
    border-left: none;
    border-top: none;
}

#div-hold {
    display: flex;
    flex-direction: column;
}

#div-hold h5 {
    margin: 2px;
}

#div-hold h2 {
    background-color: white;
    border-top-left-radius: 5px;
    margin: 0;
    padding: 5px 20px;
    font-size: 18px;
    line-height:18px;
    color: #222;
}
#div-next h2 {
    background-color: white;
    border-top-right-radius: 5px;
    font-size: 18px;
    line-height:18px;
    margin: 0;
    padding: 5px 20px;
    color: #222;
}

#div-hold h3 {
    margin: 8px;
}

#settings {
    width: 400px;
    height: 400px;
    position: absolute;
    left: calc(-200px + 50%);
    top: calc(-200px + 50%);
    border: 1px solid white;
    background-color: black;
    box-shadow: 2px 2px 0 white;
}

.container {
    position: relative;
}

#div-action-text {
    width: 200px;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}

#div-action-text *, #div-action-text * span {
    text-align: right;
    font-weight: 200;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 30px;
}

#div-action-text h4 {
    margin: 0;
}

#div-action-text .t {
    color: magenta;
}