body {
    background-color: #222;
    color: white;
    font-family: Roboto;
    background-image:url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#game {
    display: flex;
    justify-content: center;
    margin-left: -200px;
}

#main, #hold, #next {
    border: 2px solid white;
}

#div-hold h5 {
    margin: 2px;
}

#div-hold h2 {
    background-color: white;
    border-top-left-radius: 25px;
    margin: 0;
    padding: 5px 20px;
    color: #222;
}
#div-next h2 {
    background-color: white;
    border-top-right-radius: 25px;
    margin: 0;
    padding: 5px 20px;
    color: #222;
}

#div-hold h3 {
    margin: 8px;
}

#settings {
    width: 400px;
    height: 400px;
    position: absolute;
    left: calc(-200px + 50%);
    top: calc(-200px + 50%);
    border: 1px solid white;
    background-color: black;
    box-shadow: 2px 2px 0 white;
}

.container {
    position: relative;
}

#div-action-text {
    width: 200px;
    position: relative;
    overflow: hidden;
}

#div-action-text *, #div-action-text * span {
    text-align: right;
    font-weight: 200;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 30px;
}

#div-action-text h4 {
    margin: 0;
}

#div-action-text .t {
    color: magenta;
}