.big, .skill {
    padding: 10px 20px;
    width: 200px;
    height: 64px;
    margin: 0;
}

.skilltree {
    margin-top: 20px;
}

.skill {
    height: 80px;
    border: 2px solid black;
    text-align: center;
}

.skill.unlocked {
    background-color: rgb(245, 245, 245);
}

.skill.locked {
    background-color: rgb(163, 163, 163);
}

.buttongroup {
    display: flex;
    width: 100%;
}