
body {
    margin: 0;
    overflow: hidden;
}

.toolbar {
    float: right;
    width: 256px;
    height: 100vh;
    background-color: #ccc;
}

.draggable {
    position: absolute;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: gray;
    border: 1px solid black;
}