:root {
    --bg-color: #000;
    --text-color: #eee;
    --point-color: rgb(211, 96, 186);
    --point-alpha-color: rgba(211, 96, 186, 0.8);
    --infinity-color: rgb(236, 185, 18);
    --infinity-alpha-color: rgba(236, 180, 25, 0.8);
    --challenge-color: rgb(55, 217, 228);
}

* {
    font-family: 'Anonymous Pro'
}

body {
    margin: 20pt 10%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1, h4 {
    margin: 0;
}

h4 {
    color: #888;
}

table td {
    text-align: center;
}

table span[class^="generator-amount-"], table span[class^="infinity-generator-amount-"] {
    margin-left: 20pt;
    margin-right: 10pt;
}

table span[class^="generator-multiplier-"], table span[class^="infinity-generator-multiplier-"] {
    margin-left: 10pt;
    margin-right: 20pt;
}

button {
    background-color: #bbb;
    border: none;
    cursor: pointer;
    margin: 0em;
    padding: 3px 8px;
    border-color: var(--text-color);
}

button:hover {
    background-color: #ccc;
}

button:not(button.max) {
    width: 100pt;
}

button.big {
    height: 40pt;
}

div.progress, div.news-ticker {
    display: block;
    width: 75%;
    max-width: 500px;
    height: 25px;
    text-align: left;
    position: relative;
    background: var(--bg-color);
    border: 1px solid var(--text-color);
}

div.news-ticker {
    max-width: 600px;
    margin-bottom: 20pt;
    line-height: 25px;
    overflow: hidden;
}

div.news-ticker span {
    display: block;
    text-align: center;
}

div.progress-value {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    height: 25px;
}

div.offline-tick-percentage-value {
    background: rgb(50, 141, 65);
}

div.eternity-percentage-value {
    background: #c09;
}

span.progress-label {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    line-height: 25px;
    text-align: center;
}

button.cant {
    cursor: not-allowed;
    background-color: #888;
    border-color: #888;
}

.btn-prestige {
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.tab-autobuyers td {
    border: 1px solid var(--text-color);
    padding: 20pt;
}

button.btn-gain-infinity {
    margin: 0 0 10pt 0;
    width: 200pt !important;
}

button.btn-break-infinity {
    margin: 0 0 10pt 0;
    padding: 20pt;
    width: 200pt !important;
}

button.btn-gain-infinity:not(.cant), button.btn-break-infinity {
    background-color: var(--bg-color);
    box-shadow: 0 0 8px var(--infinity-color) inset;
    color: var(--text-color);
    border-radius: 2pt;
    border: 2px solid var(--infinity-color);
    animation: infinity-gain 2s linear infinite;
}

@keyframes infinity-gain {
    0% {
        box-shadow: 0 0 8px var(--infinity-color) inset;
    }
    50% {
        box-shadow: 0 0 20px var(--infinity-color) inset;
    }
    100% {
        box-shadow: 0 0 8px var(--infinity-color) inset;
    }
}

button.nav-infinity {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--infinity-color);
    box-sizing: border-box;
    animation: infinity-gain 2s linear infinite;
}

.inf {
    color: var(--infinity-color);
}

.ch-header {
    margin: 2pt;
    color: #555;
}

.ch-header-value {
    color: var(--challenge-color);
}

td.challenge {
    display: inline-block;
    width: 150pt;
    height: 170pt;
    padding: 0pt 10pt;
    margin: 4pt;
    border: 1px solid var(--text-color);
}

div.infinity-percentage-value {
    background-image: repeating-linear-gradient(
        45deg,
        var(--point-color),
        10px,
        var(--point-alpha-color) 10px,
        var(--point-alpha-color) 20px
    );
    background-size: 200% 200%;
    animation: move linear infinite 5000ms;
}

@keyframes move {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 97% 100%;
    }
}

div.tab-achievements table td {
    width: 128px;
    height: 128px;
    border: 1px solid white;
    padding: 8px;
    position: relative;
    background-image: radial-gradient(red, black);
}

div.tab-achievements table td.completed {
    width: 128px;
    height: 128px;
    border: 1px solid white;
    padding: 8px;
    position: relative;
    background-image: radial-gradient(rgb(15, 73, 15), black);
}

div.tab-achievements table td.locked.secret {
    color: transparent;
    user-select: none;
}

div.tab-achievements table td.locked.secret::after {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 64px;
    text-align: center;
    content: "Secret."
}

div.tab-achievements table td.locked {
    background-image: radial-gradient(red, black)
}

div.tab-statistics ul {
    list-style-type: none;
}

div.offline-tick-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}

div.offline-tick-simulation {
    display: block;
    margin: auto;
    padding-bottom: 30px;
    width: 50%;
    z-index: 999;
    background: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.points {
    color: var(--point-color);
    text-shadow: 0 0 4px var(--point-color);
}

.infinity-points {
    color: var(--infinity-color);
    text-shadow: 0 0 4px var(--infinity-color);
}

.btn-collapse:not(.cant), .btn-prestige:not(.cant) {
    background: var(--bg-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    box-shadow: 0 0 8px var(--point-color);
    transition: transform 500ms;
    animation: point-glow 5s ease-in-out infinite;
}

.btn-prestige:not(.cant) {
    background-image:url('../img/bg-stars.png');
    animation: move-bg 5s linear infinite;
}

.btn-collapse:not(.cant):hover, .btn-prestige:not(.cant):hover {
    transform: scale(110%);
}

@keyframes move-bg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -64px -64px;
    }
}

@keyframes point-glow {
    0% {
        box-shadow: 0 0 0px var(--point-color);
    }
    50% {
        box-shadow: 0 0 15px var(--point-color);
    }
    100% {
        box-shadow: 0 0 0px var(--point-color);
    }
}

a:link, a:visited {
    color: var(--point-color);
    text-decoration: none;
}

.glowing {
    animation: glow 5s ease-in-out infinite;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 0px var(--text-color);
    }
    50% {
        text-shadow: 0 0 15px var(--text-color);
    }
    100% {
        text-shadow: 0 0 0px var(--text-color);
    }
}

button.btn-inf {
    background-color: var(--bg-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    box-sizing: border-box;
}

.nerfed {
    color:rgb(221, 50, 50);
    text-shadow: 0 0 2px rgb(168, 34, 34);
}

button.btn-inf:not(.cant) {
    box-shadow: 0 0 8px var(--infinity-color) inset;
    border: 1px solid var(--infinity-color);
}

.infinity {
    color: var(--infinity-color);
    font-weight: 600;
    text-shadow: 0 0 2px var(--infinity-color);
}

td.challenge button {
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--challenge-color);
    padding: inherit 20pt;
}

td.challenge.running button {
    color: var(--bg-color);
    background-color: var(--challenge-color);
}

.challenge.completed {
    border-color:rgb(41, 198, 41);
    box-shadow: 0 0 16px inset rgb(41, 198, 41);
}

.challenge.completed button {
    border-color:rgb(41, 198, 41);
}